.navbar{
    margin-top: 20px;
    border-radius: 20px;
}
.background-color-home{
    background-color: #feeae9;
    border-radius: 20px;
}
.container{
    margin-top: 20px;
}
.row{
    padding: 10px 20px;
}
.h1-price{
    color: #ff3a88;
}
.ios1, .ios2, .ios3{
    padding: 10px 50px;
    border-radius: 20px;
    margin-bottom: 50px;
}
.ios1{
    background-color: orange;
    
}
.ios2{
    background-color: #ff3a88;
   
}
.ios3{
    background-color: blue;
   
}
.background-color-1{
    background-color: #f8f8f8;
    border-radius: 20px;

}
.center1{
    text-align: center;
}


.card{
    border: none;
    box-shadow: 5px 5px 20px;
    border-radius: 20px;
    
}
